<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

  <!-- Protect REST API -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>REST API</web-resource-name>
      <url-pattern>/engine-rest/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>camunda-admin</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Camunda Platform</realm-name>
  </login-config>

  <security-role>
    <role-name>camunda-admin</role-name>
  </security-role>
</web-app>